<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message', {message: locals.message, error: locals.error}) %>

<main>
    <div class="container">
        <!-- THE REST OF YOUR HTML CODE GOES HERE -->
        <!--  -->
        <!-- <div id="leaderboard">
            <h1>Leaderboard</h1>
            <table>
                <thead>
                  <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Total Points</th>
                  </tr>
                </thead>
                <tbody>
                  <% leaderboard.forEach(function(player, index) { %>
                  <tr>
                    <td><%= index + 1 %></td>
                    <td><%= player.username %></td>
                    <td><%= player.total_points %></td>
                  </tr>
                  <% }); %>
                </tbody>
            </table>
        </div>> -->


        <div id="featuredQuiz">
            <h1>Featured Quiz</h1>
        </div>
    </div>
</main>

<%- include ('../partials/footer') %>
