<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message', {message: locals.message, error: locals.error}) %>

<main>
  <!-- <img src="../../resources/icons-img/splash.svg" alt="" class="splash"> -->
    <div class="profile-card">
        <div class="card-header">
            <h3>Achievements</h3>
        </div>
        <div class="player-awards">

            <div class="container">

                <div class="row">
                    <div class="col-sm">
                      <div class="awardbox">
                        <%
                          if(achievements[0]){
                            if(achievements[0].includes("Points")){%><img src="/img/trophy.png" alt="Award Image"  width="100"> <%}
                            else if(achievements[0].includes("Quizzes Taken")){%><img src="/img/quizzes-taken.png" alt="Award Image"  width="100"> <%}
                            else if(achievements[0].includes("Played")){%><img src="/img/strongbrain.png" alt="Award Image"  width="100"> <%}
                            else if(achievements[0].includes("Score")){%><img src="/img/goodscore.png" alt="Award Image"  width="100"> <%}
                            %>
                        
                        <p> <%= achievements[0] %></p>
                        <%
                          }
                        %>
                      </div>
                    </div>
                    <div class="col-sm">
                      <div class="awardbox">
                        <%
                          if(achievements[1]){
                            if(achievements[1].includes("Points")){%><img src="/img/trophy.png" alt="Award Image"  width="100"> <%}
                            else if(achievements[1].includes("Quizzes Taken")){%><img src="/img/quizzes-taken.png" alt="Award Image"  width="100"> <%}
                            else if(achievements[1].includes("Played")){%><img src="/img/strongbrain.png" alt="Award Image"  width="100"> <%}
                            else if(achievements[1].includes("Score")){%><img src="/img/goodscore.png" alt="Award Image"  width="100"> <%}
                            %>
                        
                        <p> <%= achievements[1] %></p>
                        <%
                          }
                        %>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm">
                      <div class="awardbox">
                        <%
                          if(achievements[2]){
                            if(achievements[2].includes("Points")){%><img src="/img/trophy.png" alt="Award Image"  width="100"> <%}
                            else if(achievements[2].includes("Quizzes Taken")){%><img src="/img/quizzes-taken.png" alt="Award Image"  width="100"> <%}
                            else if(achievements[2].includes("Played")){%><img src="/img/strongbrain.png" alt="Award Image"  width="100"> <%}
                            else if(achievements[2].includes("Score")){%><img src="/img/goodscore.png" alt="Award Image"  width="100"> <%}
                            %>
                        
                        <p> <%= achievements[2] %></p>
                        <%
                          }
                        %>
                      </div>
                    </div>
                    <div class="col-sm">
                      <div class="awardbox">
                        <%
                          if(achievements[3]){
                            if(achievements[3].includes("Points")){%><img src="/img/trophy.png" alt="Award Image"  width="100"> <%}
                            else if(achievements[3].includes("Quizzes Taken")){%><img src="/img/quizzes-taken.png" alt="Award Image"  width="100"> <%}
                            else if(achievements[3].includes("Played")){%><img src="/img/strongbrain.png" alt="Award Image"  width="100"> <%}
                            else if(achievements[3].includes("Score")){%><img src="/img/goodscore.png" alt="Award Image"  width="100"> <%}
                            %>
                        
                        <p> <%= achievements[3] %></p>
                        <%
                          }
                        %>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm">
                        <div class="nav-buttons">
                            <button>
                                <i class="bi-caret-left-fill"></i>
                            </button>
                            <button>
                                <i class="bi-caret-right-fill"></i>
                            </button>
                        </div>
                    </div>
                  </div>

              </div>
            </div>
    </div>
    <div class="profile-card">
        <div class="user-info"> <!-- Profile Image + Name-->
            <button type="button" data-bs-toggle="modal" data-bs-target="#updatePhotoModal">
                <img src="<%= user.avatar_picture %>" alt="Profile Image" data-toggle="tooltip" data-placement="top" title="Update Photo" >
            </button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updatePhotoModal">
                Update Photo
            </button>


            <div class="modal" id="updatePhotoModal" tabindex="-1" role="dialog" aria-labelledby="updatePhotoModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <form>
                          <label for="avatar">Pick an Avatar: </label>
                          <div class="choice-container">
                            <div class="row">
                              <div class="col">
                                <a href="" class="profileSelection" onclick="sendOption('/icons-img/logo.svg')">
                                  <img src="/icons-img/logo.svg" alt="Picture1">
                                </a>
                              </div>
                              <div class="col">
                                <a href="" class="profileSelection" onclick="sendOption('/icons-img/football.svg')">
                                  <img src="/icons-img/football.svg" alt="Picture2">
                                </a>
                              </div>
                              <div class="col">
                                <a href="" class="profileSelection" onclick="sendOption('/icons-img/camera.svg')">
                                  <img src="/icons-img/camera.svg" alt="Picture3">
                                </a>
                              </div>
                              <div class="col">
                                <a href="" class="profileSelection" onclick="sendOption('/icons-img/science.svg')">
                                  <img src="/icons-img/science.svg" alt="Picture4">
                                </a>
                              </div> 
                            </div>
                          </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                    </div>
                  </div>
                </div>
            </div>

            <h3><%= username %></h3>
        </div>
        <div class="account-info">
            <h4>Account Information</h4> <!-- Date Joined?-->
            <p>Date Joined: <%= dateJoined %></p>
            <p>Associated Email: <%= email %></p>
        </div>
        <div class="account-settings">
            <h4>Account Settings</h4>
            <div class="button-div">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateUsernameModal">
                Change Username
              </button>
            </div>

            <div class="button-div">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updatePasswordModal">
                Change Password
              </button>
            </div>

            <div class="button-div">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateEmailModal">
                Change Associated Email
              </button>
            </div>

            <div class="modal" id="updateUsernameModal" tabindex="-1" role="dialog" aria-labelledby="updateUsernameModalTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <form action="/updateProfile" method="post" class="update-username-form">
                          <!-- LOCATION -->
                          <div class="mb-3">
                            <label for="newUsername" class="form-label">New Username</label>
                            <input type="text" class="form-control" id="newUsername" name="newUsername">
                          </div>
                          <div class="submission-buttons">
                            <button type="submit" class="btn btn-primary">Save changes</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          </div>
                      </form>
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
          </div>


          <div class="modal" id="updatePasswordModal" tabindex="-1" role="dialog" aria-labelledby="updatePasswordModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form action="/updateProfile" method="post" class="update-password-form">
                        <!-- LOCATION -->
                        <div class="mb-3">
                          <label for="current-password" class="form-label">Current Password</label>
                          <input type="text" class="form-control" id="current-password" name="currentPassword">
                        </div>
                        <div class="mb-3">
                          <label for="newPassword" class="form-label">New Password</label>
                          <input type="text" class="form-control" id="newPassword" name="newPassword">
                        </div>
                        <div class="mb-3">
                          <label for="newPasswordConfirm" class="form-label">Confirm New Password</label>
                          <input type="text" class="form-control" id="newPasswordConfirm" name="newPasswordConfirm">
                        </div>
                        <div class="submission-buttons">
                          <button type="submit" class="btn btn-primary">Save changes</button>
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
              </div>
            </div>
        </div>

        <div class="modal" id="updateEmailModal" tabindex="-1" role="dialog" aria-labelledby="updateEmailModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <form action="/updateProfile" method="post" class="update-email-form">
                    <div class="mb-3">
                      <label for="email" class="form-label">New Email</label>
                      <input type="text" class="form-control" id="newEmail" name="newEmail">
                    </div>
                      <div class="submission-buttons">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                  </form>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
      </div>
        </div>
    </div>
    <div class="profile-card">
        <div class="card-header">
            <h3>Stats</h3>
        </div>
        <div class="player-stats">
            <div class="container">
                
                <div class="row">
                  <div class="col-sm">
                    <div class="statbox">
                        <p>Quizzes Taken</p>
                        <hr>
                        <h3><%= quizzesTaken %></h3>
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="statbox">
                        <p>Points Earned</p>
                        <hr>
                        <h3><%= pointsEarned %></h3>
                    </div>
                  </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                      <div class="statbox">
                          <p>Total Time Spent</p>
                          <hr>
                          <h3><%= totTime %></h3>
                      </div>
                    </div>
                    <div class="col-sm">
                      <div class="statbox">
                          <p>Best Time</p>
                          <hr>
                          <h3><%= bestTime %></h3>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm">
                      <div class="statbox">
                          <p>Best Score</p>
                          <hr>
                          <h3><%= bestScore %></h3>
                      </div>
                    </div>
                    <div class="col-sm">
                      <div class="statbox">
                          <p>Highest Accuracy</p>
                          <hr>
                          <h3><%= bestAccuracy %></h3>
                      </div>
                    </div>
                  </div>

              </div>
        </div>
    </div>
</main>

<script>

function sendOption(option) {
  fetch('/update-pic', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ avatarOption: option })
  })
  .then(response => response.json())
  .then(data => {
    console.log(data);
    // do something with the response data
  })
  .catch(error => console.error(error));
}
</script>

<%- include ('../partials/footer') %>

<!-- Update User Image -->