<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message', {message: locals.message, error: locals.error}) %>

<main>
  <!-- <img src="../../resources/icons-img/splash.svg" alt="" class="splash"> -->
  <style>

    .award {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
    }
    
    .award img {
      width: 50px;
      height: 50px;
      margin-right: 1rem;
    }
    
    .award-info {
      flex: 1;
    }    
    .achievement-navigation {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
    }

    .prev-achievement, .next-achievement {
      border: none;
      background-color: white;
      color: orangered;
      font-size: 1.4rem;
      padding-top: .25rem;
      padding-bottom: .25rem;
      padding-left: 1rem;
      padding-right: 1rem;
      font-family: inherit;
      line-height: 1.15;
      margin: 0;
      text-transform: none;
      overflow: visible;
      cursor: pointer;
      border-radius: 5px; /* Add this line for rounded borders */
    }
  
    .prev-achievement:hover, .next-achievement:hover {
      background-color: peachpuff;
    }
    
    .hidden {
      display: none;
    }
  </style>
  <div class="profile-card">
    <div class="card-header">
      <h3>Achievements</h3>
    </div>
    <div class="player-awards">
      <div class="achievement-container">
        <% for (let i = 0; i < vals.achievements.length; i++) { %>
        <div class="awardbox" data-index="<%= i %>">
          <% let achievement = vals.achievements[i]; %>
          <div class="award">
            <% if (achievement.includes("Points")) { %>
              <img src="/img/trophy.png" alt="Award Image" width="100">
            <% } else if (achievement.includes("Quizzes Taken")) { %>
              <img src="/img/quizzes-taken.png" alt="Award Image" width="100">
            <% } else if (achievement.includes("Played")) { %>
              <img src="/img/strongbrain.png" alt="Award Image" width="100">
            <% } else if (achievement.includes("Score")) { %>
              <img src="/img/goodscore.png" alt="Award Image" width="100">
            <% } %>
            <div class="award-info">
              <h4><%= achievement %></h4>
            </div>
          </div>          
        </div>
        <% } %>
      </div>
      <div class="achievement-navigation">
        <button id="prev-achievement" class="prev-achievement hidden">Previous</button>
        <button id="next-achievement" class="next-achievement">Next</button>
      </div>
    </div>
  </div>
    <div class="profile-card">
        <div class="user-info"> <!-- Profile Image + Name-->
            <button type="button" data-bs-toggle="modal" data-bs-target="#updatePhotoModal">
                <img src="<%= vals.avatar_picture %>" alt="Profile Image" data-toggle="tooltip" data-placement="top" title="Update Photo" >
            </button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updatePhotoModal">
                Update Photo
            </button>


            <div class="modal" id="updatePhotoModal" tabindex="-1" role="dialog" aria-labelledby="updatePhotoModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <form>
                          <label for="avatar">Pick an Avatar: </label>
                          <div class="choice-container">
                            <div class="row">
                              <div class="col">
                                <a href="" class="profileSelection" onclick="sendOption('/icons-img/logo.svg')">
                                  <img src="/icons-img/logo.svg" alt="Picture1">
                                </a>
                              </div>
                              <div class="col">
                                <a href="" class="profileSelection" onclick="sendOption('/icons-img/football.svg')">
                                  <img src="/icons-img/football.svg" alt="Picture2">
                                </a>
                              </div>
                              <div class="col">
                                <a href="" class="profileSelection" onclick="sendOption('/icons-img/camera.svg')">
                                  <img src="/icons-img/camera.svg" alt="Picture3">
                                </a>
                              </div>
                              <div class="col">
                                <a href="" class="profileSelection" onclick="sendOption('/icons-img/science.svg')">
                                  <img src="/icons-img/science.svg" alt="Picture4">
                                </a>
                              </div> 
                            </div>
                          </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                    </div>
                  </div>
                </div>
            </div>

            <h3><%= vals.username %></h3>
        </div>
        <div class="account-info">
            <h4>Account Information</h4> <!-- Date Joined?-->
            <p>Date Joined: <%= vals.dateJoined %></p>
            <p>Associated Email: <%= vals.email %></p>
        </div>
        <div class="account-settings">
            <h4>Account Settings</h4>
            <div class="button-div">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateUsernameModal">
                Change Username
              </button>
            </div>

            <div class="button-div">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updatePasswordModal">
                Change Password
              </button>
            </div>

            <div class="button-div">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateEmailModal">
                Change Associated Email
              </button>
            </div>

            <div class="modal" id="updateUsernameModal" tabindex="-1" role="dialog" aria-labelledby="updateUsernameModalTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <form action="/updateProfile" method="post" class="update-username-form">
                          <!-- LOCATION -->
                          <div class="mb-3">
                            <label for="newUsername" class="form-label">New Username</label>
                            <input type="text" class="form-control" id="newUsername" name="newUsername">
                          </div>
                          <div class="submission-buttons">
                            <button type="submit" class="btn btn-primary">Save changes</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          </div>
                      </form>
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
          </div>


          <div class="modal" id="updatePasswordModal" tabindex="-1" role="dialog" aria-labelledby="updatePasswordModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form action="/updateProfile" method="post" class="update-password-form">
                        <!-- LOCATION -->
                        <div class="mb-3">
                          <label for="current-password" class="form-label">Current Password</label>
                          <input type="text" class="form-control" id="current-password" name="currentPassword">
                        </div>
                        <div class="mb-3">
                          <label for="newPassword" class="form-label">New Password</label>
                          <input type="text" class="form-control" id="newPassword" name="newPassword">
                        </div>
                        <div class="mb-3">
                          <label for="newPasswordConfirm" class="form-label">Confirm New Password</label>
                          <input type="text" class="form-control" id="newPasswordConfirm" name="newPasswordConfirm">
                        </div>
                        <div class="submission-buttons">
                          <button type="submit" class="btn btn-primary">Save changes</button>
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
              </div>
            </div>
        </div>

        <div class="modal" id="updateEmailModal" tabindex="-1" role="dialog" aria-labelledby="updateEmailModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <form action="/updateProfile" method="post" class="update-email-form">
                    <div class="mb-3">
                      <label for="email" class="form-label">New Email</label>
                      <input type="text" class="form-control" id="newEmail" name="newEmail">
                    </div>
                      <div class="submission-buttons">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                  </form>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
      </div>
        </div>
    </div>
    <div class="profile-card">
        <div class="card-header">
            <h3>Stats</h3>
        </div>
        <div class="player-stats">
            <div class="container">
                
                <div class="row">
                  <div class="col-sm">
                    <div class="statbox">
                        <p>Quizzes Taken</p>
                        <hr>
                        <h3><%= vals.quizzesTaken %></h3>
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="statbox">
                        <p>Points Earned</p>
                        <hr>
                        <h3><%= vals.pointsEarned %></h3>
                    </div>
                  </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                      <div class="statbox">
                          <p>Total Time Spent</p>
                          <hr>
                          <h3><%= vals.totTime %></h3>
                      </div>
                    </div>
                    <div class="col-sm">
                      <div class="statbox">
                          <p>Best Time</p>
                          <hr>
                          <h3><%= vals.bestTime %></h3>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm">
                      <div class="statbox">
                          <p>Best Score</p>
                          <hr>
                          <h3><%= vals.bestScore %></h3>
                      </div>
                    </div>
                    <div class="col-sm">
                      <div class="statbox">
                          <p>Highest Accuracy</p>
                          <hr>
                          <h3><%= vals.bestAccuracy %></h3>
                      </div>
                    </div>
                  </div>

              </div>
        </div>
    </div>
</main>

<script>
  $(document).ready(function () {
    let currentIndex = 0;
    const maxIndex = $(".awardbox").length - 1;
  
    function updateAchievements() {
      $(".awardbox").hide();
      for (let i = currentIndex; i < currentIndex + 4 && i <= maxIndex; i++) {
        $(`.awardbox[data-index="${i}"]`).show();
      }
      
      // Show or hide navigation buttons
      if (currentIndex === 0) {
        $("#prev-achievement").addClass("hidden");
      } else {
        $("#prev-achievement").removeClass("hidden");
      }
      
      if (currentIndex + 4 > maxIndex) {
        $("#next-achievement").addClass("hidden");
      } else {
        $("#next-achievement").removeClass("hidden");
      }
    }
  
    $("#prev-achievement").click(function () {
      currentIndex = Math.max(currentIndex - 4, 0);
      updateAchievements();
    });
  
    $("#next-achievement").click(function () {
      currentIndex = Math.min(currentIndex + 4, maxIndex);
      updateAchievements();
    });
  
    updateAchievements(); // Call the function to initialize
  });
  
function sendOption(option) {
  fetch('/update-pic', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ avatarOption: option })
  })
  .then(response => response.json())
  .then(data => {
    console.log(data);
    // do something with the response data
  })
  .catch(error => console.error(error));
}
</script>

<%- include ('../partials/footer') %>

<!-- Update User Image -->