<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message', {message: locals.message, error: locals.error}) %>

<main>
  <div id="quiz">
    <p>Total Questions: <%= data.length %></p>
    <p>Current score: <span id="currentScore">0</span></p>
    <p>Questions remaining: <span id="questionsRemaining"><%= data.length %></span></p>
    
    <div id="questionsContainer">
      <% let currentQuestionIndex = 0; %>
      <div class="question" data-question-id="<%= data[currentQuestionIndex].id %>">
        <h3><%= data[currentQuestionIndex].question.text %></h3>
        <ul>
          <% const allAnswers = [data[currentQuestionIndex].correctAnswer, ...data[currentQuestionIndex].incorrectAnswers].sort(() => Math.random() - 0.5); %>
          <% allAnswers.forEach(answer => { %>
            <li>
              <button onclick="answerQuestion('<%= data[currentQuestionIndex].id %>', '<%= answer %>')"><%= answer %></button>
            </li>
          <% }); %>
        </ul>
      </div>
    </div>
  </div>
</main>

<script src="/js/quiz.js"></script>

<%- include ('../partials/footer') %>
