<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/category-bar') %>
<%- include ('../partials/message', {message: locals.message, error: locals.error}) %>

<main>
  <img src="../../resources/icons-img/splash.svg" alt="" class="splash">
  <h1>Sports</h1>
</main>

<%- include ('../partials/footer') %>